.card {
	border-color: $color-alpha;
	color: $color-grey-2;

	&:hover {
		color: $color-beta;
	}


	.card-header {
		background-color: $color-beta;
	}

	.card-footer {
		background-color: $color-gamma;
	}

	.card-title {
		margin-top: -50px;
		background: #FFF;
		padding: 15px;
	}
}