$yellow: #FFEB99;
$green: #417505;
$mint: #D4EBD0;
$blue: #A4C5C6;
$purple: #6C466F;
$light-grey: #D8D8D8;
$dark-grey: #333;

$color-alpha: $yellow;
$color-beta: $green;
$color-gamma: $blue;
$color-delta: $purple;
$color-epsilon: $mint;
$color-grey-1: $light-grey;
$color-grey-2: $dark-grey;